<script>
    window.onload = function () {
        liff.init({
            liffId: "{{ liffId }}"
        }).then(() => {
            console.log(liff.getVersion());
            console.log(liff.getLineVersion());
            console.log(liff.isInClient());
            console.log(liff.isLoggedIn());
            console.log(liff.getOS());
            console.log(liff.getLanguage());

            runApp();
        }).catch((err) => {
            console.log('failed to initialize LIFF');
        });

        document.getElementById('closeWindowButton').addEventListener('click', function () {
            if (!liff.isInClient()) {
                sendAlertIfNotInClient();
            } else {
                liff.closeWindow();
            }
        });
    }
</script>