<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/conf/bulma.min.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block javascript %}
<script charset="utf-8" src="//static.line-scdn.net/liff/edge/2/sdk.js"></script>
{% include './_liff_init.html' with liffId=liffId %}
{% endblock %}
</body>
</html>