{% extends 'liff/base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/liff/style.css' %}">
{% endblock %}}

{% block content %}
<section class="section px-2 py-2">
    <div class="container">
        <div class="card">
            <header class="card-header has-background-warning">
                <h1 class="card-header-title px-2 py-1">
                    {% trans 'Booking Info' %}
                </h1>
            </header>
            <div class="card-content px-2 py-2">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
            <footer class="card-footer">

            </footer>
        </div>
        <div class="card">
            <header class="card-header has-background-warning">
                <h1 class="card-header-title px-2 py-1">
                    {% trans 'Booking Quotation' %}
                </h1>
            </header>
            <div class="card-content px-0 py-1">
                <table class="table is-fullwidth is-bordered is-narrow quotation-table">
                    <thead>
                    <tr>
                        <th class="has-text-centered">{% trans 'Item' %}</th>
                        <th class="has-text-centered">{% trans 'Price' %}</th>
                        <th class="has-text-centered">{% trans 'PAX' %}</th>
                        <th class="has-text-centered">{% trans 'Amount' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="has-text-weight-bold">{% trans 'Green Fee' %}</td>
                        <td class="has-text-right">4,500</td>
                        <td class="has-text-centered">3</td>
                        <td class="has-text-right">13,500</td>
                    </tr>
                    <tr>
                        <td class="has-text-weight-bold">{% trans 'Caddie Fee' %}</td>
                        <td class="has-text-right">400</td>
                        <td class="has-text-centered">3</td>
                        <td class="has-text-right">1,200</td>
                    </tr>
                    <tr>
                        <td class="has-text-weight-bold">{% trans 'Cart Fee' %}</td>
                        <td class="has-text-right">900</td>
                        <td class="has-text-centered">3</td>
                        <td class="has-text-right">2,700</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="has-text-weight-bold">{% trans 'Total Amount' %}</td>
                        <td class="has-text-weight-bold has-text-right" colspan="3">
                            <span class="total-amount">17,400</span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <footer class="card-footer">
                <button class="card-footer-item button-save">
                    {% trans 'New Booking' %}
                </button>
                <button class="card-footer-item button-close" id="closeWindowButton">
                    {% trans 'Close' %}
                </button>
            </footer>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/liff/booking-create-form.js' %}"></script>
{% endblock %}
