{% extends 'liff/base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/liff/style.css' %}">
{% endblock %}}

{% block content %}
<section class="section px-1 py-0">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label"
                   for="{{ form.round_date.id_for_label }}">{% trans 'Date/Time' %}</label>
            <label class="label is-hidden"
                   for="{{ form.round_time.id_for_label }}">{% trans 'Date/Time' %}</label>
        </div>
        <div class="field-body">
            <div class="field has-addons has-addons-fullwidth has-addons-right">
                <div class="control">
                    <input class="input{% if form.round_date.errors %} is-danger{% endif %}"
                           type="date"
                           id="{{ form.round_date.id_for_label }}"
                           name="{{ form.round_date.name }}"
                           value="{{ form.round_date.value|default_if_none:'' }}"
                           placeholder="YYYY-MM-DD">
                </div>
                <div class="control{% if form.round_date.errors and not form.round_time.errors %} time-input-margin{% endif %}">
                    <input class="input{% if form.round_time.errors %} is-danger{% endif %}"
                           type="time"
                           id="{{ form.round_time.id_for_label }}"
                           name="{{ form.round_time.name }}"
                           value="{{ form.round_time.value|default_if_none:'' }}"
                           placeholder="HH:MM" step="60">
                </div>
            </div>
        </div>
    </div>
    {% if form.round_date.errors or form.round_time.errors %}
    <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
            <article class="message is-danger booking-form-alert">
                <div class="message-body">
                    <ul>
                        {% for error in form.round_date.errors %}
                        <li>{{ error|escape }}</li>
                        {% endfor %}
                        {% for error in form.round_time.errors %}
                        <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </div>
    </div>
    {% endif %}

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Name</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <input class="input" type="text" placeholder="Customer name">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label"
                   for="{{ form.pax.id_for_label }}">
                {% trans 'Golfer #' %}
            </label>
        </div>
        <div class="field-body">
            <div class="field has-addons">
                <div class="control">
                    <a class="button" id="minus-button">
                        <i class="fas fa-minus fa-fw"></i>
                    </a>
                </div>
                <div class="control is-expanded">
                    <div class="select is-fullwidth{% if form.pax.errors %} is-danger{% endif %}">
                        <select id="{{ form.pax.id_for_label }}"
                                name="{{ form.pax.name }}"
                                class="pax-select">
                        </select>
                    </div>
                </div>
                <div class="control">
                    <a class="button" id="plus-button">
                        <i class="fas fa-plus fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% if form.pax.errors %}
    <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
            <article class="message is-danger booking-form-alert">
                <div class="message-body">
                    <ul>
                        {% for error in form.pax.errors %}
                        <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </div>
    </div>
    {% endif %}

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Cart</label>
        </div>
        <div class="field-body">
            <div class="field has-addons">
                <div class="control">
                    <a class="button">
                        <i class="fas fa-minus fa-fw"></i>
                    </a>
                </div>
                <div class="control is-expanded">
                    <div class="select is-fullwidth{% if form.pax.errors %} is-danger{% endif %}">
                        <select
                                name="{{ form.pax.name }}"
                                class="pax-select">
                        </select>
                    </div>
                </div>
                <div class="control">
                    <a class="button">
                        <i class="fas fa-plus fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <a class="button is-primary is-fullwidth">
                        New Booking
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/liff/booking-create-form.js' %}"></script>
{% endblock %}
