{% extends 'liff/base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/liff/style.css' %}">
{% endblock %}}

{% block content %}
<section class="section px-2 py-2">
    <div class="container">
        <div class="card quotation-card">
            <header class="card-header quotation-card-header">
                <p class="card-header-title">
                    WITH THAI
                </p>
            </header>
            <div class="card-content">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="tee_off_date">{% trans 'Tee-off Date/Time' %}</label>
                        <label class="label is-hidden" for="tee_off_time"></label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons has-addons-fullwidth has-addons-right">
                            <div class="control">
                                <input class="input"
                                       type="date"
                                       id="tee_off_date"
                                       name="tee_off_date"
                                       value=""
                                       placeholder="YYYY-MM-DD">
                            </div>
                            <div class="control">
                                <input class="input"
                                       type="time"
                                       id="tee_off_time"
                                       name="tee_off_time"
                                       value=""
                                       placeholder="HH:MM" step="60">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="pax">{% trans 'Golfer #' %}</label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control">
                                <a class="button" id="pax-minus-button">
                                    <i class="fas fa-minus fa-fw"></i>
                                </a>
                            </div>
                            <div class="control is-expanded has-icons-left">
                                <div class="select is-fullwidth">
                                    <select id="pax"
                                            name="pax"
                                            class="">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <span class="icon is-small is-left"><i class="fas fa-user-friends"></i></span>
                            </div>
                            <div class="control">
                                <a class="button" id="pax-plus-button">
                                    <i class="fas fa-plus fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="cart">{% trans 'Cart #' %}</label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control">
                                <a class="button" id="cart-minus-button">
                                    <i class="fas fa-minus fa-fw"></i>
                                </a>
                            </div>
                            <div class="control is-expanded has-icons-left">
                                <div class="select is-fullwidth">
                                    <select id="cart"
                                            name="cart"
                                            class="">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <span class="icon is-small is-left"><i class="fas fa-truck-pickup"></i></span>
                            </div>
                            <div class="control">
                                <a class="button" id="cart-plus-button">
                                    <i class="fas fa-plus fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="tee_off_date">{% trans 'Customer Name' %}</label>
                        <label class="label is-hidden" for="name"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Type in English or Thai" id="name">
                                <span class="icon is-small is-left"><i class="far fa-address-card"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card quotation-card">
            <header class="card-header quotation-card-header">
                <p class="card-header-title">
                    {% trans 'ORDER DETAILS' %}
                </p>
            </header>
            <div class="card-content">
                <table class="table is-fullwidth is-narrow quotation-table">
                    <thead>
                    <tr>
                        <th class="has-text-centered">Item</th>
                        <th class="has-text-centered">Price</th>
                        <th class="has-text-centered">PAX</th>
                        <th class="has-text-centered">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="has-text-weight-bold">Green Fee</td>
                        <td class="has-text-right">4,500</td>
                        <td class="has-text-centered">3</td>
                        <td class="has-text-right">13,500</td>
                    </tr>
                    <tr>
                        <td class="has-text-weight-bold">Caddie Fee</td>
                        <td class="has-text-right">400</td>
                        <td class="has-text-centered">3</td>
                        <td class="has-text-right">1,200</td>
                    </tr>
                    <tr>
                        <td class="has-text-weight-bold">Cart Fee</td>
                        <td class="has-text-right">900</td>
                        <td class="has-text-centered">3</td>
                        <td class="has-text-right">2,700</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="has-text-weight-bold">Total Amount</td>
                        <td class="has-text-weight-bold has-text-right" colspan="3">
                            <span class="total-amount">17,400</span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <footer class="card-footer buttons">
                <button class="card-footer-item button button-save">
                    {% trans 'New Booking' %}
                </button>
                <button class="card-footer-item button button-close" id="closeWindowButton">
                    {% trans 'Close' %}
                </button>
            </footer>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/liff/booking-create-form.js' %}"></script>
{% endblock %}
