{% extends 'liff/base.html' %}

{% load static i18n humanize %}
{% load liff_tags %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/liff/style.css' %}">
{% endblock %}}

{% block content %}
<section class="section py-2 px-2">
    <div class="container wrapper">
        {% for season in seasons %}
        <h1 class="has-text-weight-bold has-text-centered mb-2">
            {{ season.season_start|date:'Y.m.d' }} - {{ season.season_end|date:'Y.m.d' }}
        </h1>
        <table class="table is-bordered is-narrow price-table-relative">
            <thead>
            <tr class="white">
                <th class="has-text-centered fixed-col">{% trans 'Green Fee' %}</th>

                {% for customer_group in customer_groups %}
                <th class="has-text-centered">{{ customer_group.title_english }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody class="no-break-word">
            {% for timeslot in timeslots %}
            <tr class="{{ timeslot.title_english|lower }}">
                <td class="has-text-centered fixed-col">
                    <strong>
                        <span class="week{{ timeslot.day_of_week}}">{{ timeslot.get_day_of_week_display }}</span>
                        <br>
                        {{ timeslot.title_english }}
                        <br>
                        {{ timeslot.slot_start|time:'H:i' }}-{{ timeslot.slot_end|time:'H:i' }}
                    </strong>
                </td>
                {% for customer_group in customer_groups %}
                <td class="has-text-right is-vcentered">
                    {% green_fee price_table season.id timeslot.id customer_group.id %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="white">
                <td class="has-text-centered fixed-col">
                    <strong>{% trans 'Caddie Fee' %}</strong>
                </td>
                <td class="has-text-right" colspan="{{ customer_groups|length }}">
                    <strong>{{ season.caddie_fee_list_price|floatformat:0|intcomma }}</strong>
                </td>
            </tr>
            <tr class="white">
                <td class="has-text-centered fixed-col">
                    <strong>{% trans 'Cart Fee' %}</strong>
                </td>
                <td class="has-text-right" colspan="{{ customer_groups|length }}">
                    <strong>{{ season.cart_fee_list_price|floatformat:0|intcomma }}</strong>
                </td>
            </tr>
            </tfoot>
        </table>
        {% endfor %}
    </div>
    <div class="container pt-4">
        <button class="button is-fullwidth button-close" id="closeWindowButton">{% trans 'Close' %}</button>
    </div>
</section>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    function runApp() {
    }
</script>
{% endblock %}