{% extends 'liff/base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/liff/style.css' %}">
{% endblock %}}

{% block content %}
<section class="section py-2 px-2">
    <div class="container wrapper">
        <table class="table is-bordered is-narrow table-relative">
            <thead>
            <tr>
                <th class="has-text-centered fixed-col">&nbsp;</th>
                <th class="has-text-centered">Member</th>
                <th class="has-text-centered">Associate Member</th>
                <th class="has-text-centered">Member's Guest</th>
                <th class="has-text-centered">Visitor</th>
            </tr>
            </thead>
            <tbody class="no-break-word">
            <tr>
                <td class="has-text-centered fixed-col">
                    <strong>Weekdays<br>Day<br>06:00-14:00</strong>
                </td>
                <td class="has-text-right is-vcentered">0</td>
                <td class="has-text-right is-vcentered">600</td>
                <td class="has-text-right is-vcentered">2,500</td>
                <td class="has-text-right is-vcentered">3,500</td>
            </tr>
            <tr>
                <td class="has-text-centered fixed-col">
                    <strong>Weekdays<br>Twilight<br>14:30-15:34</strong>
                </td>
                <td class="has-text-right is-vcentered">500</td>
                <td class="has-text-right is-vcentered">800</td>
                <td class="has-text-right is-vcentered">1,800</td>
                <td class="has-text-right is-vcentered">2,000</td>
            </tr>
            <tr>
                <td class="has-text-centered fixed-col">
                    <strong>Weekdays<br>Night<br>16:00-19:30</strong>
                </td>
                <td class="has-text-right is-vcentered">900</td>
                <td class="has-text-right is-vcentered">900</td>
                <td class="has-text-right is-vcentered">1,600</td>
                <td class="has-text-right is-vcentered">1,600</td>
            </tr>
            <tr>
                <td class="has-text-centered fixed-col">
                    <strong>Holidays<br>Day 1st<br>06:00-08:16</strong>
                </td>
                <td class="has-text-right is-vcentered"></td>
                <td class="has-text-right is-vcentered">800</td>
                <td class="has-text-right is-vcentered">3,000</td>
                <td class="has-text-right is-vcentered">4,500</td>
            </tr>
            <tr>
                <td class="has-text-centered fixed-col">
                    <strong>Holidays<br>Day 2nd<br>10:48-13:04</strong>
                </td>
                <td class="has-text-right is-vcentered">0</td>
                <td class="has-text-right is-vcentered">800</td>
                <td class="has-text-right is-vcentered">3,000</td>
                <td class="has-text-right is-vcentered">4,500</td>
            </tr>
            <tr>
                <td class="has-text-centered fixed-col">
                    <strong>Holidays<br>Twilight<br>15:36-17:20</strong>
                </td>
                <td class="has-text-right is-vcentered">500</td>
                <td class="has-text-right is-vcentered">800</td>
                <td class="has-text-right is-vcentered">1,800</td>
                <td class="has-text-right is-vcentered">2,000</td>
            </tr>
            <tr>
                <td class="has-text-centered fixed-col">
                    <strong>Holidays<br>Night<br>17:36-19:00</strong>
                </td>
                <td class="has-text-right is-vcentered">900</td>
                <td class="has-text-right is-vcentered">900</td>
                <td class="has-text-right is-vcentered">1,600</td>
                <td class="has-text-right is-vcentered">1,600</td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="container pt-4">
        <button class="button is-success is-fullwidth" id="closeWindowButton">{% trans 'Close' %}</button>
    </div>
</section>
{% endblock %}
