{% extends 'liff/base.html' %}

{% load static i18n %}
{% load liff_tags %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/liff/style.css' %}">
{% endblock %}}

{% block content %}
<section class="section py-2 px-2">
    <div class="container wrapper">
        {% for season in seasons %}
        <h1>{{ season.season_start|date:'Y-m-d' }} - {{ season.season_end|date:'Y-m-d' }}</h1>
        <table class="table is-bordered is-narrow table-relative">
            <thead>
            <tr class="white">
                <th class="has-text-centered fixed-col">&nbsp;</th>

                {% for customer_group in customer_groups %}
                <th class="has-text-centered">{{ customer_group.title_english }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody class="no-break-word">
            {% for timeslot in timeslots %}
            <tr class="{{ timeslot.title_english }}">
                <td class="has-text-centered fixed-col">
                    <strong>
                        <span class="week{{ timeslot.day_of_week}}">{{ timeslot.get_day_of_week_display }}</span>
                        <br>
                        {{ timeslot.title_english }}
                        <br>
                        {{ timeslot.slot_start|time:'H:i' }}-{{ timeslot.slot_end|time:'H:i' }}
                    </strong>
                </td>
                {% for customer_group in customer_groups %}
                <td class="has-text-right is-vcentered">
                    {% green_fee price_table season.id timeslot.id customer_group.id %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
    <div class="container pt-4">
        <button class="button is-success is-fullwidth" id="closeWindowButton">{% trans 'Close' %}</button>
    </div>
</section>
{% endblock %}
