{% extends 'liff/base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/liff/style.css' %}">
{% endblock %}}

{% block content %}
<section class="section py-2 px-2">
    <table class="table is-bordered is-narrow">
        <thead>
        <tr>
            <th>HOLE</th>
            {% for hole in hole %}
            <th class="has-text-centered">{{ hole }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for tee in scorecard.tee %}
        <tr class="{{tee.color}}">
            <td><strong>{{ tee.color|upper }}</strong></td>
            {% for yard in tee.yard %}
            <td class="has-text-right">{{ yard }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td><strong>HANDICAP</strong></td>
            {% for handicap in scorecard.handicap %}
            <td class="has-text-centered">{{ handicap }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td><strong>PAR</strong></td>
            {% for par in scorecard.par %}
            <td class="has-text-centered">{{ par }}</td>
            {% endfor %}
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</section>
{% endblock %}
