/* Common */
.button-plus {
    color: #ffffff;
    background-color: #0277bd;
    border-color: transparent;
}

.button-minus {
    color: #ffffff;
    background-color: #ef5350;
    border-color: transparent;
}

.button-save {
    color: #ffffff;
    background-color: #0097a7;
    border-color: transparent;
}

.button-close {
    color: #ffffff;
    background-color: #90a4ae;
    border-color: transparent;
}

.select-has-text-centered {
    text-align-last: center;
}

.no-break-word {
    white-space: nowrap;
    word-break: keep-all;
}

.input::placeholder {
    color: #666666;
}

/* Scorecard */
.blue, .blue strong, .blue .fixed-col {
    color: #ffffff;
    background-color: #3333ff;
}

.white, .white strong, .white .fixed-col {
    color: #000000;
    background-color: #ffffff;
}

.brown, .brown strong, .brown .fixed-col {
    color: #ffffff;
    background-color: #c68c53;
}

.orange, .orange strong, .orange .fixed-col {
    color: #ffffff;
    background-color: #ff8533;
}

.red, .red strong, .red .fixed-col {
    color: #ffffff;
    background-color: #ff3333;
}

.yellow, .yellow strong, .yellow .fixed-col {
    color: #000000;
    background-color: #ffff33;
}

.wrapper {
    overflow: scroll;
    position: relative;
}

.scorecard-table-relative {
    position: relative;
    font-size: 1rem;
}

.fixed-col {
    position: sticky;
    left: 0;
    top: 0;
}

/* Price Table */
.week0 {
    color: #0000cc;
    font-weight: bold;
}

.week1 {
    color: #ff471a;
    font-weight: bold;
}

.day, .day .fixed-col {
    color: #000000;
    background-color: #c8ffbc;
    font-weight: bold;
}

.twilight, .twilight .fixed-col {
    color: #000000;
    background-color: #fbffbc;
    font-weight: bold;
}

.night, .night .fixed-col {
    color: #000000;
    background-color: #ccfeff;
    font-weight: bold;
}

.price-table-relative {
    position: relative;
    font-size: .8rem;
}

/* Quotation Table */
.quotation-table {
    font-size: .9rem;
}

.quotation-error-notification {
    margin-top: .75rem;
    padding: .25rem .5rem;
}

.shadow-box {
    margin: .75rem;
    padding: .5rem;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.shadow-box .field:nth-child(4) {
    margin-bottom: -.25rem;
}

.no-shadow-box {
    margin: .75rem;
    padding: .75rem 0;
}

.total-amount {
    font-size: 1rem;
}

.select-disabled {
    background-color: #fff;
    border-color: #dbdbdb !important;
    border-radius: 4px;
    color: #000000 !important;
}