{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{% trans 'SIGN UP CLOSED' %}{% endblock %}

{% block main %}
<div class="hero is-large">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third is-offset-one-third has-text-centered">
                    <h1 class="is-size-1">
                        {% trans 'SIGN UP CLOSED' %}
                    </h1>
                </div>

                <div class="column is-one-third is-offset-one-third">
                    <article class="message is-danger">
                        <div class="message-body">
                            {% trans "We are sorry, but the sign up is currently closed." %}
                        </div>
                    </article>
                </div>

                <hr>

                <div class="column is-one-third is-offset-one-third">
                    {% url 'account_login' as login_url %}
                    <a href="{{ login_url }}" class="button is-primary is-fullwidth">
                        {% trans 'SIGN IN' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
