{% extends "conf/conf_base.html" %}

{% load i18n static %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block main %}
<div class="hero is-large">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third is-offset-one-third has-text-centered">
                    <h1 class="is-size-1">{% trans "Verify Your E-mail Address" %}</h1>
                </div>

                <div class="column is-one-third is-offset-one-third">
                    <article class="message is-info">
                        <div class="message-body">
                            <p class="my-2">
                                {% trans 'We have sent an e-mail to you for verification.' %}
                            </p>
                            <p class="my-2">
                                {% trans 'Follow the link provided to finalize the signup process.' %}
                            </p>
                            <p class="my-2">
                                {% trans 'Please contact us if you do not receive it within a few minutes.' %}
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
