{% extends 'conf/base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/console/page.css' %}">
{% endblock %}

{% block header %}
<nav class="navbar is-fixed-top" id="navbar-top">
    <div class="container">
        {% include 'conf/_top_navbar_brand.html' %}

        <div class="navbar-menu">
            <div class="navbar-start">
                {% include 'conf/_top_menu_items.html' %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% include 'conf/_top_login_buttons.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal" id="left-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content left-sidebar-content">
        <ul>
            {% include 'conf/_left_sidebar_empty.html' with left_sidebar_close_button=True %}
        </ul>
    </div>
</div>
<div class="modal" id="right-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content right-sidebar-content">
        <ul>
            {% include 'conf/_right_sidebar_my_account.html' with right_sidebar_close_button=True %}
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="hero is-large">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third is-offset-one-third has-text-centered">
                    <h1 class="is-size-1 is-capitalized">{% trans '403 Forbidden' %}</h1>
                </div>
                <div class="column is-one-third is-offset-one-third">
                    <article class="message is-danger">
                        <div class="message-body">
                            {% trans 'You do not have permission to access.' %}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
