<nav class="pagination" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
        <li>
            <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}&{{ q }}">&laquo;</a>
        </li>
        {% else %}
        <li>
            <a class="pagination-link" href="#" disabled>&laquo;</a>
        </li>
        {% endif %}

        {% for i in page_range %}
        {% if page_obj.number == i %}
        <li>
            <a class="pagination-link is-current" href="#">{{ i }}</a>
        </li>
        {% else %}
        <li>
            <a class="pagination-link" href="?page={{ i }}&{{ q }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a class="pagination-link" href="?page={{ page_obj.next_page_number }}&{{ q }}">&raquo;</a>
        </li>
        {% else %}
        <li>
            <a class="pagination-link" href="#" disabled>&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>