{% extends 'conf/base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'console/css/page.css' %}">
{% endblock %}

{% block header %}
<nav class="navbar is-fixed-top" id="navbar-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-hidden-tablet" id="left-sidebar-open">
                <span class="fas fa-bars fa-fw"></span>
            </a>
            <a class="navbar-item" style="" href="{% url 'console:home' slug %}">
                <img src="{% static 'conf/images/withthai_logo_en.png' %}"
                     width="168" height="30" alt="with thai logo">
            </a>
            <a class="navbar-item is-hidden-tablet" id="right-sidebar-open">
                <span class="fas fa-user-cog fa-fw"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="button is-primary is-small">
                            <span class="icon"><i class="fas fa-sign-out-alt fa-fw"></i></span>
                            <span>{% trans 'SIGN OUT' %}</span>
                        </a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="button is-light is-small">
                            <span class="icon"><i class="fas fa-sign-in-alt fa-fw"></i></span>
                            <span>{% trans 'SIGN IN' %}</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal" id="left-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content left-sidebar-content">
        <ul>
            <li class="submenu-heading">
                {% trans 'Booking' %}
                <a href="#" class="is-pulled-right" id="left-sidebar-close">
                    <i class="fas fa-times"></i>
                </a>
            </li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a href="{% url 'console:golf-booking-order-list' slug %}">
                            {% trans 'All Booking List' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:golf-booking-order-list' slug %}?order_status=open">
                            <span class="tag status-open">{% trans 'Open' %}</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:golf-booking-order-list' slug %}?order_status=accepted">
                            <span class="tag status-accepted">{% trans 'Accepted' %}</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:golf-booking-order-list' slug %}?payment_status=unpaid">
                            <span class="tag status-unpaid is-capitalized">{% trans 'Not paid' %}</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:golf-booking-order-list' slug %}?payment_status=refund_requests">
                            <span class="tag status-refund-requests is-capitalized">{% trans 'Refund requests' %}</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:golf-booking-order-list' slug %}?day=today">
                            {% trans 'Today' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:golf-booking-order-list' slug %}?day=tomorrow">
                            {% trans 'Tomorrow' %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu-heading">{% trans 'Customers' %}</li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a href="{% url 'console:line-user-list' slug %}">
                            {% trans 'LINE Users' %}
                        </a>
                    <li class="is-hidden">
                        <a href="#">
                            {% trans 'Facebook Users' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Customer Groups' %}</a>
                    </li>
                </ul>
            </li>
            <li class="submenu-heading">{% trans 'Marketing' %}</li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a>{% trans 'Promotions' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Coupons' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Hot Deals' %}</a>
                    </li>
                </ul>
            </li>
            <li class="submenu-heading">{% trans 'Report' %}</li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a>{% trans 'Daily Sales' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Monthly Sales' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Best Promotions' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a> {% trans 'Best Customers' %} </a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Sales by Customer Groups' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Sales by Payment' %}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal" id="right-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content right-sidebar-content">
        <ul>
            <li class="submenu-heading">
                {% trans 'Settings' %}
                <a href="#" class="is-pulled-right" id="right-sidebar-close">
                    <i class="fas fa-times"></i>
                </a>
            </li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a href="{% url 'console:golf-club-update' slug %}">
                            {% trans 'Golf Club' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:green-fee-list' slug %}">
                            {% trans 'Green Fee' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:holiday-list' slug %}">
                            {% trans 'Holidays' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:season-list' slug %}">
                            {% trans 'Seasons' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'console:timeslot-list' slug %}">
                            {% trans 'Timeslots' %}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="columns is-gapless is-marginless">
        <aside class="column is-3 menu is-hidden-mobile">
            <div class="menu-label">{% trans 'Booking' %}</div>
            <ul class="menu-list">
                <li>
                    <a href="{% url 'console:golf-booking-order-list' slug %}">
                        {% trans 'All Booking List' %}
                    </a>
                </li>
                <li>
                    <ul>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?order_status=open">
                                <span class="tag status-open">{% trans 'Open' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?order_status=accepted">
                                <span class="tag status-accepted">{% trans 'Accepted' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?payment_status=unpaid">
                                <span class="tag status-unpaid is-capitalized">{% trans 'Not paid' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?payment_status=refund_requests">
                                <span class="tag status-refund-requests is-capitalized">{% trans 'Refund requests' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?day=today">
                                {% trans 'Today' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?day=tomorrow">
                                {% trans 'Tomorrow' %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="menu-label">{% trans 'Customers' %}</div>
            <ul class="menu-list">
                <li>
                    <a>{% trans 'Social Accounts' %}</a>
                    <ul>
                        <li>
                            <a href="{% url 'console:line-user-list' slug %}">
                                {% trans 'LINE Users' %}
                            </a>
                        </li>
                        <li class="is-hidden">
                            <a href="#">
                                {% trans 'Facebook Users' %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>{% trans 'Customer Groups' %}</a>
                </li>
            </ul>
            <div class="menu-label">
                {% trans 'Marketing' %}
            </div>
            <ul class="menu-list">
                <li><a>{% trans 'Promotions' %}</a></li>
                <li><a>{% trans 'Coupons' %}</a></li>
                <li><a>{% trans 'Hot Deals' %}</a></li>
            </ul>
            <div class="menu-label">{% trans 'Report' %}</div>
            <ul class="menu-list">
                <li>
                    <a>{% trans 'Daily Sales' %}</a>
                </li>
                <li>
                    <a>{% trans 'Monthly Sales' %}</a>
                </li>
                <li>
                    <a>{% trans 'Best Promotions' %}</a>
                </li>
                <li>
                    <a> {% trans 'Best Customers' %} </a>
                </li>
                <li>
                    <a>{% trans 'Sales by Customer Groups' %}</a>
                </li>
                <li>
                    <a>{% trans 'Sales by Payment' %}</a>
                </li>
            </ul>
            <div class="menu-label">{% trans 'Settings' %}</div>
            <ul class="menu-list">
                <li>
                    <a href="{% url 'console:golf-club-update' slug %}">
                        {% trans 'Golf Club' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:green-fee-list' slug %}">
                        {% trans 'Green Fee' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:holiday-list' slug %}">
                        {% trans 'Holidays' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:season-list' slug %}">
                        {% trans 'Seasons' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:timeslot-list' slug %}">
                        {% trans 'Timeslots' %}
                    </a>
                </li>
            </ul>
        </aside>
        <div class="column is-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}