{% extends 'conf/base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/console/page.css' %}">
{% endblock %}

{% block header %}
<nav class="navbar is-fixed-top" id="navbar-top">
    <div class="container">
        {% include 'conf/_top_navbar_brand.html' %}

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% include 'conf/_top_login_buttons.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal" id="left-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content left-sidebar-content">
        <ul>
            {% include './_left_sidebar_booking.html' with left_sidebar_close_button=True %}
        </ul>
    </div>
</div>
<div class="modal" id="right-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content right-sidebar-content">
        <ul>
            {% include './_right_sidebar_club_settings.html' with right_sidebar_close_button=True %}
            {% include 'conf/_right_sidebar_my_account.html' %}
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="columns is-gapless is-marginless">
        <aside class="column is-3 menu is-hidden-mobile">
            <div class="menu-label">{% trans 'Booking' %}</div>
            <ul class="menu-list">
                <li>
                    <a href="{% url 'console:golf-booking-order-list' slug %}" class="is-capitalized">
                        {% trans 'All booking list' %}
                    </a>
                </li>
                <li>
                    <ul>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?order_status=open">
                                <span class="tag status-open">{% trans 'Open' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?order_status=accepted">
                                <span class="tag status-accepted">{% trans 'Accepted' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?payment_status=unpaid">
                                <span class="tag status-unpaid is-capitalized">{% trans 'Not paid' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?payment_status=refund_requests">
                                <span class="tag status-refund-requests is-capitalized">{% trans 'Refund requests' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?day=today">
                                {% trans 'Today' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'console:golf-booking-order-list' slug %}?day=tomorrow">
                                {% trans 'Tomorrow' %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="menu-label">{% trans 'Customers' %}</div>
            <ul class="menu-list">
                <li>
                    <a class="is-capitalized">{% trans 'Social accounts' %}</a>
                    <ul>
                        <li>
                            <a href="{% url 'console:line-user-list' slug %}" class="is-capitalized">
                                {% trans 'LINE users' %}
                            </a>
                        </li>
                        <li class="is-hidden">
                            <a href="#" class="is-capitalized">
                                {% trans 'Facebook users' %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>{% trans 'Customer groups' %}</a>
                </li>
            </ul>
            <div class="menu-label">
                {% trans 'Marketing' %}
            </div>
            <ul class="menu-list">
                <li><a>{% trans 'Promotions' %}</a></li>
                <li><a>{% trans 'Coupons' %}</a></li>
                <li><a class="is-capitalized">{% trans 'Hot deals' %}</a></li>
            </ul>
            <div class="menu-label">{% trans 'Report' %}</div>
            <ul class="menu-list">
                <li>
                    <a class="is-capitalized">{% trans 'Daily sales' %}</a>
                </li>
                <li>
                    <a class="is-capitalized">{% trans 'Monthly sales' %}</a>
                </li>
                <li>
                    <a class="is-capitalized">{% trans 'Best promotions' %}</a>
                </li>
                <li>
                    <a class="is-capitalized"> {% trans 'Best customers' %} </a>
                </li>
                <li>
                    <a class="is-capitalized">{% trans 'Sales by customer groups' %}</a>
                </li>
                <li>
                    <a class="is-capitalized">{% trans 'Sales by payment' %}</a>
                </li>
            </ul>
            <div class="menu-label">{% trans 'Settings' %}</div>
            <ul class="menu-list">
                <li>
                    <a href="{% url 'console:golf-club-update' slug %}" class="is-capitalized">
                        {% trans 'Golf club' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:green-fee-list' slug %}" class="is-capitalized">
                        {% trans 'Green fee' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:holiday-list' slug %}">
                        {% trans 'Holidays' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:season-list' slug %}">
                        {% trans 'Seasons' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:timeslot-list' slug %}">
                        {% trans 'Timeslots' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'console:staff-list' slug %}">
                        {% trans 'Staffs' %}
                    </a>
                </li>
            </ul>
        </aside>
        <div class="column is-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}