{% extends './base.html' %}

{% load i18n static humanize %}
{% load console_filters %}

{% block title %}
with-thai::{% trans 'Golf Club Update' %}
{% endblock %}

{% block content %}
<div class="section">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {% trans 'Course Information' %}
            </p>
            <a href="{% url 'console:line-user-list' slug %}?{{ q }}"
               class="button is-info mt-1 mr-1">{% trans 'Back to List' %}
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="order-detail">
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Golf Course Title [English]' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.title_english }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Golf Course Title [Thai]' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.title_thai }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Slug' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.slug }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'No. of Holes' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.get_hole_display }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'District' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.district }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Latitude' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.latitude }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Longitude' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.longitude }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Working Status' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.get_working_status_display }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {% trans 'Contact Information' %}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="order-detail">
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Address' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.address }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Phone Number' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.phone }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Fax Number' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.fax }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Email Address' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.email }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Website' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.website }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {% trans 'Booking Management' %}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="order-detail">
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Business Hour Start' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.business_hour_start|date:'H:i' }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Business Hour Start' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.business_hour_end|date:'H:i' }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Default Customer Group' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.customer_group }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Caddie Compulsory' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.get_caddie_compulsory_display }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Cart Compulsory' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.get_cart_compulsory_display }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Multiple Booking Orders' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.multiple_booking_orders }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Minimum PAX' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.min_pax }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Maximum PAX' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.max_pax }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Min Days for Weekdays in advance' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.weekdays_min_in_advance }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Max Days for Weekdays in advance' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.weekdays_max_in_advance }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Min Days for Holidays in advance' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.weekend_min_in_advance }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Max Days for Holidays in advance' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.weekend_max_in_advance }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Weekend Booking on Monday' %}
                        </div>
                        <div class="column is-10-tablet is-7-mobile">
                            {{ golf_club.weekend_booking_on_monday }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    function runApp() {
    }
</script>
{% endblock %}