{% extends './console_base.html' %}

{% load i18n static humanize %}
{% load console_filters %}

{% block title %}
with-thai::{% trans 'Golf booking order detail' %}
{% endblock %}

{% block content %}
<div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title is-capitalized">{% trans 'Golf booking order detail' %}</div>
            <a href="{% url 'console:golf-booking-order-list' slug %}?{{ q }}"
               class="button back-to-list-button">{% trans 'Back to List' %}</a>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="mobile-detail-item">
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Order no' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile is-family-monospace">
                            {{ order.order_no|truncatechars:9 }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Customer name' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile has-text-weight-bold">
                            {{ order.fullname }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Customer group' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile">
                            {% if order.customer_group.title_english %}
                            <span class="tag status-customer-{{ order.customer_group.id|modulo:5 }}">
                                {{ order.customer_group.title_english }}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Round Date/Time' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile has-text-weight-bold is-family-monospace">
                            <i class="fas fa-golf-ball fa-fw"></i>
                            {{ order.round_date|date:'Y-m-d' }} {{ order.round_time|date:'H:i' }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'PAX' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile has-text-weight-bold is-family-monospace">
                            <i class="fas fa-users fa-fw"></i> {{ order.pax }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Cart' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile has-text-weight-bold is-family-monospace">
                            <i class="fas fa-truck-pickup fa-fw"></i>
                            {{ order.cart }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet">
                            {% trans 'Total' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile has-text-weight-bold is-family-monospace">
                            <i class="fas fa-coins fa-fw"></i>
                            {{ order.total_selling_price|floatformat:0|intcomma }} THB
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Order status' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile">
                            {% if order.order_status == order.ORDER_STATUS_CHOICES.open %}
                            <span class="tag status-open">{{ order.get_order_status_display }}</span>
                            {% elif order.order_status == order.ORDER_STATUS_CHOICES.offered %}
                            <span class="tag status-offered">{{ order.get_order_status_display }}</span>
                            {% elif order.order_status == order.ORDER_STATUS_CHOICES.accepted %}
                            <span class="tag status-accepted">{{ order.get_order_status_display }}</span>
                            {% elif order.order_status == order.ORDER_STATUS_CHOICES.confirmed %}
                            <span class="tag status-confirmed">{{ order.get_order_status_display }}</span>
                            {% elif order.order_status == order.ORDER_STATUS_CHOICES.closed %}
                            <span class="tag status-closed">{{ order.get_order_status_display }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="columns is-mobile{% if order.order_status == order.ORDER_STATUS_CHOICES.offered or order.order_status == order.ORDER_STATUS_CHOICES.confirmed or order.order_status == order.ORDER_STATUS_CHOICES.closed %} has-next-columns{% endif %}">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Payment status' %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile">
                            {% if order.payment_status == order.PAYMENT_STATUS_CHOICES.unpaid %}
                            <span class="tag status-unpaid">{{ order.get_payment_status_display }}</span>
                            {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.paid %}
                            <span class="tag status-paid">{{ order.get_payment_status_display }}</span>
                            {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.refund_requests %}
                            <span class="tag status-refund-requests">{{ order.get_payment_status_display }}</span>
                            {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.refunded %}
                            <span class="tag status-refunded">{{ order.get_payment_status_display }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="columns is-mobile{% if order.order_status == order.ORDER_STATUS_CHOICES.offered or order.order_status == order.ORDER_STATUS_CHOICES.confirmed or order.order_status == order.ORDER_STATUS_CHOICES.closed %} is-hidden{% endif %}">
                        <div class="column is-3-tablet is-hidden-mobile has-text-right-tablet">
                            {% trans 'Actions' %}
                        </div>
                        <div class="column is-9-tablet is-12-mobile has-text-centered-mobile">
                            <div class="control action-radio-buttons">
                                <label class="radio is-uppercase">
                                    <input type="radio" name="action" id="confirm-radio" checked>
                                    {% trans 'Confirm' %}
                                </label>
                                <label class="radio {% if order.order_status == order.ORDER_STATUS_CHOICES.accepted %} is-hidden{% endif %} is-uppercase">
                                    <input type="radio" name="action" id="offer-radio">
                                    {% trans 'Offer' %}
                                </label>
                                <label class="radio is-uppercase">
                                    <input type="radio" name="action" id="reject-radio">
                                    {% trans 'Close' %}
                                </label>
                            </div>
                            <form class="" id="confirm-form" method="post"
                                  action="{% url 'console:golf-booking-order-detail' slug  order.order_no %}">
                                {% csrf_token %}
                                <div class="field has-addons action-field-centered">
                                    <div class="control">
                                        <label class="is-hidden" for="{{ confirm_form.round_time.id_for_label }}">
                                        </label>
                                        <input class="input"
                                               type="time"
                                               id="{{ confirm_form.round_time.id_for_label }}"
                                               name="{{ confirm_form.round_time.name }}"
                                               value="{{ order.round_time|date:'H:i' }}"
                                               placeholder="HH:MM" step="60">
                                    </div>
                                    <div class="control">
                                        <input type="hidden" name="form" value="confirm-form">
                                        <a class="button is-primary is-uppercase" id="confirm-button">
                                            {% trans 'Confirm' %}
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <form class=" is-hidden" id="offer-form" method="post"
                                  action="{% url 'console:golf-booking-order-detail' slug  order.order_no %}">
                                {% csrf_token %}
                                <div id="offer-list">
                                    <div class="field has-addons action-field-centered">
                                        <div class="control">
                                            <input class="input"
                                                   type="time"
                                                   name="tee_off_times"
                                                   value="{{ order.round_time|date:'H:i' }}"
                                                   placeholder="HH:MM" step="60">
                                        </div>
                                        <div class="control">
                                            <a class="button is-danger" disabled>
                                                <i class="fas fa-minus fa-fw"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="field has-addons action-field-centered offer-button-spacing">
                                    <div class="control">
                                        <input type="hidden" name="form" value="offer-form">
                                        <a class="button is-primary is-uppercase" id="offer-button">
                                            {% trans 'Offer' %}
                                        </a>
                                    </div>
                                    <div class="control">
                                        <a class="button is-info" id="offer-plus">
                                            <i class="fas fa-plus fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <form class=" is-hidden" id="reject-form" method="post"
                                  action="{% url 'console:golf-booking-order-detail' slug  order.order_no %}">
                                {% csrf_token %}
                                <div class="field action-field-centered">
                                    <div class="control">
                                        <input type="hidden" name="form" value="reject-form">
                                        <a class="button is-danger is-uppercase" id="close-button">
                                            {% trans 'Close' %}
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <ul class="action-error-message">
                                {% for error in confirm_form.non_field_errors %}
                                <li class="has-text-danger">{{ error }}</li>
                                {% endfor %}
                                {% for error in confirm_form.round_time.errors %}
                                <li class="has-text-danger">{{ error }}</li>
                                {% endfor %}
                                {% for error in offer_form.non_field_errors %}
                                <li class="has-text-danger">{{ error }}</li>
                                {% endfor %}
                                {% for error in offer_form.tee_off_times.errors %}
                                <li class="has-text-danger">{{ error }}</li>
                                {% endfor %}
                                {% for error in reject_form.non_field_errors %}
                                <li class="has-text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title">{% trans 'Fees' %}</div>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="mobile-detail-item">
                    {% for fee in products %}
                    <div class="columns is-mobile is-vcentered">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet is-capitalized">
                            {{ fee.get_product_display }}<br>
                            {% if fee.customer_group.title_english %}
                            <span class="tag status-customer-{{ fee.customer_group.id|modulo:5 }}">
                                {{ fee.customer_group.title_english }}
                            </span>
                            {% endif %}
                        </div>
                        <div class="column is-9-tablet is-7-mobile is-family-monospace">
                            <strong>{{ fee.selling_price|floatformat:0|intcomma }}</strong>
                            * {{ fee.quantity }}
                            = {{ fee.subtotal|floatformat:0|intcomma }} THB
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title is-capitalized">{% trans 'Status history' %} </div>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="mobile-detail-item">
                    {% for log in logs %}
                    <div class="columns is-mobile is-multiline is-vcentered">
                        <div class="column is-3-tablet is-5-mobile has-text-right-tablet">
                            {% if log.user %}
                            {{ log.user.first_name }} {{ log.user.last_name }}
                            {% else %}
                            <i class="fas fa-minus fa-fw"></i>
                            {% endif %}
                        </div>
                        <div class="column is-3-tablet is-7-mobile">
                            {% if log.order_status == order.ORDER_STATUS_CHOICES.open %}
                            <span class="tag status-open">{{ log.get_order_status_display }}</span>
                            {% elif log.order_status == order.ORDER_STATUS_CHOICES.offered %}
                            <span class="tag status-offered">{{ log.get_order_status_display }}</span>
                            {% elif log.order_status == order.ORDER_STATUS_CHOICES.accepted %}
                            <span class="tag status-accepted">{{ log.get_order_status_display }}</span>
                            {% elif log.order_status == order.ORDER_STATUS_CHOICES.confirmed %}
                            <span class="tag status-confirmed">{{ log.get_order_status_display }}</span>
                            {% elif log.order_status == order.ORDER_STATUS_CHOICES.closed %}
                            <span class="tag status-closed">{{ log.get_order_status_display }}</span>
                            {% endif %}

                            {% if log.payment_status == order.PAYMENT_STATUS_CHOICES.unpaid %}
                            <span class="tag status-unpaid">{{ log.get_payment_status_display }}</span>
                            {% elif log.payment_status == order.PAYMENT_STATUS_CHOICES.paid %}
                            <span class="tag status-paid">{{ log.get_payment_status_display }}</span>
                            {% elif log.payment_status == order.PAYMENT_STATUS_CHOICES.refund_requests %}
                            <span class="tag status-refund-requests">{{ log.get_payment_status_display }}</span>
                            {% elif log.payment_status == order.PAYMENT_STATUS_CHOICES.refunded %}
                            <span class="tag status-refunded">{{ log.get_payment_status_display }}</span>
                            {% endif %}
                        </div>
                        <div class="column is-hidden-tablet is-5-mobile is-family-monospace">
                            {{ log.created|date:'Y-m-d H:i' }}
                        </div>
                        <div class="column is-3-tablet is-7-mobile is-family-monospace">
                            {{ log.message|linebreaks }}
                        </div>
                        <div class="column is-3-tablet is-hidden-mobile is-family-monospace">
                            {{ log.created|date:'Y-m-d H:i' }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirm-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-capitalized has-text-centered has-text-weight-bold is-capitalized">
                {% trans 'Confirm tee time booking' %}
            </p>
            <button class="delete" id="confirm-modal-close"></button>
        </header>
        <section class="modal-card-body" id="confirm-modal-body">
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Customer name' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.fullname }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Round Date/Time' %}</div>
                <div class="column has-text-weight-bold is-8 has-text-danger-dark">
                    {{ order.round_date|date:'Y-m-d' }} <span id="confirm-modal-round-time"></span>
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'PAX' %}</div>
                <div class="column has-text-weight-bold is-8 has-text-danger-dark">
                    {{ order.pax }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Cart' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.cart }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Total' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.total_selling_price|floatformat:0|intcomma }} THB
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="card-footer-item">
                <button class="button is-capitalized is-fullwidth confirm-button" id="confirm-modal-ok">
                    {% trans 'OK' %}
                </button>
            </div>
            <div class="card-footer-item">
                <button class="button is-fullwidth" id="confirm-modal-cancel">
                    {% trans 'Cancel' %}
                </button>
            </div>
        </footer>
    </div>
</div>
<div class="modal" id="offer-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-capitalized has-text-centered has-text-weight-bold is-capitalized">
                {% trans 'Offer tee time' %}
            </p>
            <button class="delete" id="offer-modal-close"></button>
        </header>
        <section class="modal-card-body" id="offer-modal-body">
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Customer name' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.fullname }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Round Date/Time' %}</div>
                <div class="column has-text-weight-bold is-8 has-text-danger-dark">
                    {{ order.round_date|date:'Y-m-d' }} <span id="offer-modal-round-time"></span>
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'PAX' %}</div>
                <div class="column has-text-weight-bold is-8 has-text-danger-dark">
                    {{ order.pax }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Cart' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.cart }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Total' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.total_selling_price|floatformat:0|intcomma }} THB
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="card-footer-item">
                <button class="button is-capitalized is-fullwidth offer-button" id="offer-modal-ok">
                    {% trans 'OK' %}
                </button>
            </div>
            <div class="card-footer-item">
                <button class="button is-fullwidth" id="offer-modal-cancel">
                    {% trans 'Cancel' %}
                </button>
            </div>
        </footer>
    </div>
</div>
<div class="modal" id="close-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-capitalized has-text-centered has-text-weight-bold is-capitalized">
                {% trans 'Close booking' %}
            </p>
            <button class="delete" id="close-modal-close"></button>
        </header>
        <section class="modal-card-body" id="close-modal-body">
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Customer name' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.fullname }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4 has-text-danger-dark">{% trans 'Round Date/Time' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.round_date|date:'Y-m-d' }} {{ order.round_time|date:'H:i' }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4 has-text-danger-dark">{% trans 'PAX' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.pax }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Cart' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.cart }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-capitalized is-4">{% trans 'Total' %}</div>
                <div class="column has-text-weight-bold is-8">
                    {{ order.total_selling_price|floatformat:0|intcomma }} THB
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="card-footer-item">
                <button class="button is-capitalized is-fullwidth close-booking-button" id="close-modal-ok">
                    {% trans 'OK' %}
                </button>
            </div>
            <div class="card-footer-item">
                <button class="button is-fullwidth" id="close-modal-cancel">
                    {% trans 'Cancel' %}
                </button>
            </div>
        </footer>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/console/order-detail.js' %}"></script>
{% endblock %}