{% extends './console_base.html' %}

{% load static i18n humanize %}
{% load console_filters %}

{% block title %}
with-thai::{% trans 'Golf booking order list' %}
{% endblock %}

{% block content %}
<div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title is-capitalized">{% trans 'All booking list' %}</div>
        </header>
        <div class="card-content">
            <div class="content">
                {% include './_order_search_box.html' with form=form %}

                {% for order in orders %}
                <div class="columns is-multiline is-mobile is-vcentered mobile-list-item">
                    <div class="column is-hidden-tablet is-4-mobile">
                        <a href="{% url 'console:golf-booking-order-detail' slug order.order_no %}?{{ q }}">
                            {{ order.order_no|truncatechars:9 }}
                        </a>
                    </div>
                    <div class="column is-2-tablet is-8-mobile">
                        <a href="{% url 'console:golf-booking-order-detail' slug order.order_no %}?{{ q }}">
                            <div class="tags has-addons is-hidden-tablet status-tags is-capitalized">
                                {% if order.order_status == order.ORDER_STATUS_CHOICES.open %}
                                <span class="tag status-open">{{ order.get_order_status_display }}</span>
                                {% elif order.order_status == order.ORDER_STATUS_CHOICES.offered %}
                                <span class="tag status-offered">{{ order.get_order_status_display }}</span>
                                {% elif order.order_status == order.ORDER_STATUS_CHOICES.accepted %}
                                <span class="tag status-accepted">{{ order.get_order_status_display }}</span>
                                {% elif order.order_status == order.ORDER_STATUS_CHOICES.confirmed %}
                                <span class="tag status-confirmed">{{ order.get_order_status_display }}</span>
                                {% elif order.order_status == order.ORDER_STATUS_CHOICES.closed %}
                                <span class="tag status-closed">{{ order.get_order_status_display }}</span>
                                {% endif %}

                                {% if order.payment_status == order.PAYMENT_STATUS_CHOICES.unpaid %}
                                <span class="tag status-unpaid">{{ order.get_payment_status_display }}</span>
                                {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.paid %}
                                <span class="tag status-paid">{{ order.get_payment_status_display }}</span>
                                {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.refund_requests %}
                                <span class="tag status-refund-requests">{{ order.get_payment_status_display }}</span>
                                {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.refunded %}
                                <span class="tag status-refunded">{{ order.get_payment_status_display }}</span>
                                {% endif %}
                            </div>
                            <div class="is-hidden-mobile is-capitalized">
                                <div class="field is-grouped">
                                    <div class="control">
                                        {% if order.order_status == order.ORDER_STATUS_CHOICES.open %}
                                        <span class="tag status-open">{{ order.get_order_status_display }}</span>
                                        {% elif order.order_status == order.ORDER_STATUS_CHOICES.offered %}
                                        <span class="tag status-offered">{{ order.get_order_status_display }}</span>
                                        {% elif order.order_status == order.ORDER_STATUS_CHOICES.accepted %}
                                        <span class="tag status-accepted">{{ order.get_order_status_display }}</span>
                                        {% elif order.order_status == order.ORDER_STATUS_CHOICES.confirmed %}
                                        <span class="tag status-confirmed">{{ order.get_order_status_display }}</span>
                                        {% elif order.order_status == order.ORDER_STATUS_CHOICES.closed %}
                                        <span class="tag status-closed">{{ order.get_order_status_display }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="control">
                                        {% if order.payment_status == order.PAYMENT_STATUS_CHOICES.unpaid %}
                                        <span class="tag status-unpaid">{{ order.get_payment_status_display }}</span>
                                        {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.paid %}
                                        <span class="tag status-paid">{{ order.get_payment_status_display }}</span>
                                        {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.refund_requests %}
                                        <span class="tag status-refund-requests">{{ order.get_payment_status_display }}</span>
                                        {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.refunded %}
                                        <span class="tag status-refunded">{{ order.get_payment_status_display }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column is-2-tablet is-12-mobile has-text-weight-bold has-text-right is-family-monospace">
                        {{ order.round_date|date:'Y-m-d' }}
                        {{ order.round_time|date:'H:i' }}
                    </div>
                    <div class="column is-1-tablet is-hidden-mobile has-text-right is-family-monospace">
                        {{ order.pax }} PAX
                    </div>
                    <div class="column is-1-tablet is-hidden-mobile has-text-right is-family-monospace">
                        {{ order.cart }} CART
                    </div>
                    <div class="column is-2-tablet is-12-mobile has-text-right has-text-weight-bold is-family-monospace">
                        {{ order.total_selling_price|floatformat:0|intcomma }} THB
                        <span class="is-hidden-tablet">
                            / <i class="fas fa-users fa-fw"></i>
                            {{ order.pax }} PAX
                            / <i class="fas fa-truck-pickup fa-fw"></i>
                            {{ order.cart }} CART
                        </span>
                    </div>
                    <div class="column is-4-tablet is-12-mobile has-text-right-mobile">
                        {% if order.customer_group.title_english %}
                        <span class="tag status-customer-{{ order.customer_group.id|modulo:5 }} is-hidden-mobile">
                            {{ order.customer_group.title_english }}
                        </span>
                        {% endif %}
                        <a href="{% url 'console:golf-booking-order-detail' slug order.order_no %}?{{ q }}">
                            {{ order.fullname }}
                        </a>
                        {% if order.customer_group.title_english %}
                        <span class="tag status-customer-{{ order.customer_group.id|modulo:5 }} is-hidden-tablet">
                            {{ order.customer_group.title_english }}
                        </span>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                <div class="columns">
                    <div class="column has-text-centered has-text-weight-bold has-text-danger-dark">
                        {% trans 'Golf booking order is not found.' %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="page-pagination">
    {% include './_pagination.html' with page_obj=page_obj page_range=page_range q=q_popped %}
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script src="{% static 'js/console/order-list.js' %}"></script>

{% endblock %}