{% extends './console_base.html' %}

{% load i18n static humanize %}
{% load console_filters %}

{% block title %}
with-thai::{% trans 'Golf Club Update' %}
{% endblock %}

{% block content %}
<div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title is-capitalized">{% trans 'Course information' %}</div>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="mobile-detail-item">
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Golf course title' %}<br class="is-hidden-tablet">
                            [English]
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.title_english }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Golf course title' %}<br class="is-hidden-tablet">
                            [Thai]
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.title_thai }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Slug' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.slug }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'No. of holes' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.get_hole_display }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'District' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.district }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Latitude' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.latitude }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Longitude' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.longitude }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Working Status' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.get_working_status_display }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title is-capitalized">{% trans 'Contact information' %}</div>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="mobile-detail-item">
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Address' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.address }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Phone number' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.phone }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Fax number' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.fax }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Email address' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.email }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Website' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.website }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title is-capitalized">{% trans 'Booking management' %}</div>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="mobile-detail-item">
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Business hour start' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.business_hour_start|date:'H:i' }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Business hour end' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.business_hour_end|date:'H:i' }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Default customer group' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.customer_group }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Caddie compulsory' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.get_caddie_compulsory_display }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Cart compulsory' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.get_cart_compulsory_display }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet is-capitalized">
                            {% trans 'Multiple booking orders' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.multiple_booking_orders }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Minimum PAX' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.min_pax }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Maximum PAX' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.max_pax }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Min Days for Weekdays in advance' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.weekdays_min_in_advance }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Max Days for Weekdays in advance' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.weekdays_max_in_advance }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Min Days for Holidays in advance' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.weekend_min_in_advance }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Max Days for Holidays in advance' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile is-family-monospace">
                            {{ golf_club.weekend_max_in_advance }}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-tablet is-6-mobile has-text-right-tablet">
                            {% trans 'Weekend Booking on Monday' %}
                        </div>
                        <div class="column is-8-tablet is-6-mobile">
                            {{ golf_club.weekend_booking_on_monday }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
