{% extends './base.html' %}

{% load static i18n humanize %}

{% block content %}
<div class="section section-mobile">
    <div class="container is-fluid">
        {% for order in orders %}
        <div class="columns is-multiline is-mobile order-list">
            <div class="column is-1-tablet is-4-mobile is-family-monospace">
                <a href="{% url 'console:golf-booking-order-detail' slug order.order_no %}">
                    {{ order.order_no|truncatechars:9 }}
                </a>
            </div>
            <div class="column is-2-tablet is-8-mobile">
                <a href="{% url 'console:golf-booking-order-detail' slug order.order_no %}">
                    <div class="tags has-addons pull-mobile-right-desktop-center">
                        {% if order.order_status == order.ORDER_STATUS_CHOICES.open or order.order_status == order.ORDER_STATUS_CHOICES.offered or order.order_status == order.ORDER_STATUS_CHOICES.accepted %}
                        <span class="tag is-info">{{ order.get_order_status_display }}</span>
                        {% elif order.order_status == order.ORDER_STATUS_CHOICES.confirmed %}
                        <span class="tag is-success">{{ order.get_order_status_display }}</span>
                        {% elif order.order_status == order.ORDER_STATUS_CHOICES.closed %}
                        <span class="tag is-warning">{{ order.get_order_status_display }}</span>
                        {% endif %}

                        {% if order.payment_status == order.PAYMENT_STATUS_CHOICES.unpaid %}
                        <span class="tag is-info">{{ order.get_payment_status_display }}</span>
                        {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.paid %}
                        <span class="tag is-success">{{ order.get_payment_status_display }}</span>
                        {% elif order.payment_status == order.PAYMENT_STATUS_CHOICES.refunded %}
                        <span class="tag is-danger">{{ order.get_payment_status_display }}</span>
                        {% endif %}

                        {% if order.customer_group.title_english %}
                        <span class="tag is-dark">{{ order.customer_group.title_english }}</span>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="column is-2-tablet is-12-mobile is-family-monospace has-text-right-mobile">
                {{ order.round_date|date:'Y-m-d' }} {{ order.round_time|date:'H:i' }}
            </div>
            <div class="column is-1-tablet is-hidden-mobile is-family-monospace has-text-right">
                {{ order.pax }} PAX
            </div>
            <div class="column is-1-tablet is-hidden-mobile is-family-monospace has-text-right">
                {{ order.cart }} CART
            </div>
            <div class="column is-1-tablet is-12-mobile is-family-monospace has-text-right">
                {{ order.total_selling_price|floatformat:0|intcomma }} THB
                <span class="is-hidden-tablet">/ {{ order.pax }} PAX / {{ order.cart }} CART</span>
            </div>
            <div class="column is-4-tablet is-12-mobile has-text-right-mobile">
                <a href="{% url 'console:golf-booking-order-detail' slug order.order_no %}">
                    {{ order.fullname }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}