{% extends './base.html' %}

{% load static i18n humanize %}
{% load console_filters %}

{% block title %}
with-thai::{% trans 'Green Fee List' %}
{% endblock %}

{% block content %}
<div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {% trans 'Green Fee List' %}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                {% include './_green_fee_search_box.html' with form=form %}

                {% for green_fee in green_fees %}
                <div class="columns is-multiline is-mobile is-vcentered">
                    <div class="column is-3-tablet is-9-mobile is-family-monospace">
                        {{ green_fee.season.season_start|date:'Y-m-d' }} ~
                        {{ green_fee.season.season_end|date:'Y-m-d' }}
                    </div>
                    <div class="column is-1-tablet is-3-mobile has-text-right-mobile">
                        {% if green_fee.timeslot.day_of_week == green_fee.timeslot.DAY_CHOICES.weekday %}
                        <span class="tag is-info">{{ green_fee.timeslot.get_day_of_week_display }}</span>
                        {% elif green_fee.timeslot.day_of_week == green_fee.timeslot.DAY_CHOICES.weekend %}
                        <span class="tag is-danger">{{ green_fee.timeslot.get_day_of_week_display }}</span>
                        {% endif %}
                    </div>
                    <div class="column is-2-tablet is-8-mobile is-family-monospace">
                        {{ green_fee.timeslot.slot_start|date:'H:i' }} ~ {{ green_fee.timeslot.slot_end|date:'H:i' }}
                    </div>
                    <div class="column is-2-tablet is-4-mobile has-text-right-mobile">
                        {{ green_fee.timeslot.title_english }}
                    </div>
                    <div class="column is-1-tablet is-4-mobile">
                        {% if green_fee.customer_group.title_english %}
                        <span class="tag status-customer-{{ green_fee.customer_group.id|modulo:5 }}">
                            {{ green_fee.customer_group.title_english }}
                        </span>
                        {% endif %}
                    </div>
                    <div class="column is-3-tablet is-8-mobile has-text-right is-family-monospace">
                        <strike>{{ green_fee.list_price|floatformat:0|intcomma }}</strike>
                        <strong>{{ green_fee.selling_price|floatformat:0|intcomma }}</strong>
                        THB
                    </div>
                </div>
                {% empty %}
                <div class="columns">
                    <div class="column has-text-centered has-text-weight-bold has-text-danger-dark">
                        {% trans 'No Green fee settings' %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="page-pagination">
    {% include './_pagination.html' with page_obj=page_obj page_range=page_range q=q_popped %}
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/console/green-fee-list.js' %}"></script>
{{ block.super }}
{% endblock %}