{% extends './base.html' %}

{% load static i18n humanize %}
{% load console_filters %}

{% block title %}
with-thai::{% trans 'Holiday List' %}
{% endblock %}

{% block content %}
<div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {% trans 'Holiday List' %}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                {% for holiday in holidays %}
                <div class="columns is-multiline is-mobile is-vcentered mobile-list-item">
                    <div class="column is-2-tablet is-12-mobile">
                        {{ holiday.holiday|date:'Y-m-d' }}
                    </div>
                    <div class="column is-10-tablet is-12-mobile">
                        {{ holiday.title }}
                    </div>
                </div>
                {% empty %}
                <div class="columns">
                    <div class="column has-text-centered-mobile has-text-weight-bold has-text-danger-dark">
                        {% trans 'No holiday' %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="page-pagination">
    {% include './_pagination.html' with page_obj=page_obj page_range=page_range q=q_popped %}
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    function runApp() {
    }
</script>
{% endblock %}