{% extends './base1.html' %}

{% load i18n static humanize %}

{% block title %}
with-thai::Admin Console
{% endblock %}

{% block content %}
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
<p>home home home home home home</p>
{% endblock %}