{% extends './base.html' %}

{% load static i18n humanize %}
{% load console_filters %}

{% block title %}
with-thai::{% trans 'LINE User List' %}
{% endblock %}

{% block content %}
<div class="section pb-0">
    <div class="card pb-0">
        <header class="card-header">
            <p class="card-header-title">
                {% trans 'All LINE User List' %}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                {% for user in users %}
                <div class="columns is-multiline is-mobile is-vcentered order-list">
                    <div class="column is-1-tablet is-8-mobile">
                        {{ user.line_user.line_user_id|truncatechars:9 }}
                        <span class="is-hidden-tablet">
                            {% if user.line_user.follow_status == user.line_user.FOLLOW_CHOICES.follow %}
                            <span class="has-text-success-dark"><i class="fas fa-check fa-fw"></i></span>
                            {% elif user.line_user.follow_status == user.line_user.FOLLOW_CHOICES.unfollow %}
                            <span class="has-text-danger-dark"><i class="fas fa-times fa-fw"></i></span>
                            {% endif %}
                        </span>
                    </div>
                    <div class="column is-1-tablet is-4-mobile has-text-right">
                        <span class="tag status-customer-{{ user.customer_group.id|modulo:5 }}">
                            {{ user.customer_group.title_english }}
                        </span>
                    </div>
                    <div class="column is-2-tablet is-12-mobile">
                        <a href="{% url 'console:line-user-detail' slug user.line_user.line_user_id %}?{{ q }}">
                            {{ user.line_user.line_display_name }}
                        </a>
                    </div>
                    <div class="column is-2-tablet is-12-mobile">
                        <a href="{% url 'console:line-user-detail' slug user.line_user.line_user_id %}?{{ q }}">
                            {{ user.line_user.fullname|default:'-' }}
                        </a>
                    </div>
                    <div class="column is-1-tablet is-hidden-mobile">
                        {% if user.line_user.follow_status == user.line_user.FOLLOW_CHOICES.follow %}
                        <span class="has-text-success-dark">
                            <i class="fas fa-check fa-fw"></i>
                            {% trans 'Following' %}
                        </span>
                        {% elif user.line_user.follow_status == user.line_user.FOLLOW_CHOICES.unfollow %}
                        <span class="has-text-danger-dark">
                             <i class="fas fa-times fa-fw"></i>
                            {% trans 'Unfollowed' %}
                        </span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="section pt-0">
    {% include './_pagination.html' with page_obj=page_obj page_range=page_range q=q_popped %}
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    function runApp() {
    }
</script>
{% endblock %}