<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
{% load i18n static %}
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#87b842">

    <meta property="og:image" content="http://www.withthai.com{% static 'conf/images/withthai_og_en.png' %}"/>
    <meta property="og:image:width" content="1024"/>
    <meta property="og:image:height" content="1024"/>

    {% block stylesheet %}
    <link rel="shortcut icon" href="{% static 'conf/images/favicon_16x16.png' %}">

    <!-- fonts -->
    <link rel="stylesheet" href="{% static 'conf/css/prompt.css' %}">
    <link rel="stylesheet" href="{% static 'conf/css/nanum-gothic-coding.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <!-- bulma -->
    <link rel="stylesheet" href="{% static 'conf/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'conf/css/layout.css' %}">
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
    {% endblock %}
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer class="footer">
    <div class="content has-text-centered">
        {% now 'Y' %} &copy; <a href="//www.withthai.com">withthai.com</a> All rights reserved.
    </div>
</footer>
{% block javascript %}
<script charset="utf-8" src="{% static 'conf/js/main.js' %}"></script>
<script charset="utf-8" src="{% static 'jsi18n/'|add:request.LANGUAGE_CODE|add:'/djangojs.js' %}"></script>
{% endblock %}
</body>
</html>