<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
{% load i18n static %}
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#87b842">

    <meta property="og:image" content="http://www.withthai.com{% static 'images/conf/withthai_og_en.png' %}"/>
    <meta property="og:image:width" content="1024"/>
    <meta property="og:image:height" content="1024"/>

    {% block stylesheet %}
    <link rel="shortcut icon" href="{% static 'images/conf/favicon_16x16.png' %}">

    <!-- fonts -->
    {% if LANGUAGE_CODE == 'th' or LANGUAGE_CODE == 'en' %}
    <link rel="stylesheet" href="{% static 'css/conf/prompt.css' %}">
    {% elif LANGUAGE_CODE == 'ko' %}
    <link rel="stylesheet" href="{% static 'css/conf/godo.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/conf/nanum-gothic-coding.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <!-- bulma -->
    <link rel="stylesheet" href="{% static 'css/conf/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/conf/layout.css' %}">
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
    {% endblock %}
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer class="footer">
    <div class="footer-info">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-full-mobile is-two-thirds-desktop">
                    <h4 class="footer-info-heading">{% trans 'WITH THAI Co., Ltd.' %}</h4>
                    <ul class="footer-info-list">
                        <li>
                            {% trans 'Ekkamai No. 30 Sukhumvit (settabut) soi. 61 Klongton Nua, Wattana, Bangkok 10110' %}
                        </li>
                        <li>
                            {% trans 'TAX ID: 0105563049000' %}
                        </li>
                        <li>
                            {% trans 'TAT License: 14/03216' %}
                        </li>
                        <li>help@withthai.com</li>
                    </ul>
                </div>
                <div class="column is-full-mobile is-one-third-desktop">
                    <h4 class="footer-info-heading">{% trans "Help" %}</h4>
                    <ul class="footer-info-list">
                        <li>
                            <a href="" class="is-uppercase">
                                {% trans 'Guide' %}
                            </a>
                        </li>
                        <li>
                            <a href="" class="is-uppercase">
                                {% trans 'FAQ/HOW-TO' %}
                            </a>
                        </li>
                        <li>
                            <a href="" class="is-uppercase">
                                {% trans 'Terms &amp; Conditions' %}
                            </a> &middot;
                            <a href="" class="is-uppercase">
                                {% trans 'Privacy policy' %}
                            </a>
                        </li>
                        <li>
                            <a href="" class="is-uppercase">
                                {% trans 'About us' %}
                            </a>
                        </li>
                        <li>
                            <a href="" class="is-uppercase">
                                {% trans 'Contact us' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="columns ">
                <div class="column has-text-centered">
                    {% now 'Y' %} &copy; <a href="{% url 'home' %}">withthai.com</a> All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascript %}
<script charset="utf-8" src="{% static 'js/conf/main.js' %}"></script>
<script charset="utf-8" src="{% static 'jsi18n/'|add:request.LANGUAGE_CODE|add:'/djangojs.js' %}"></script>
{% endblock %}
</body>
</html>