{% extends './base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/console/page.css' %}">
{% endblock %}

{% block header %}
<nav class="navbar is-fixed-top" id="navbar-top">
    <div class="container">
        {% include './_top_navbar_brand.html' %}

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% include './_top_login_buttons.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal" id="left-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content left-sidebar-content">
        <ul>
            {% include './_left_sidebar_empty.html' with left_sidebar_close_button=True %}
        </ul>
    </div>
</div>
<div class="modal" id="right-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content right-sidebar-content">
        <ul>
            {% include './_right_sidebar_my_booking.html' with right_sidebar_close_button=True %}
            {% include './_right_sidebar_my_account.html' with right_sidebar_close_button=False %}
        </ul>
    </div>
</div>
{% endblock %}
