{% extends './base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/console/page.css' %}">
{% endblock %}

{% block header %}
<nav class="navbar is-fixed-top" id="navbar-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-hidden-tablet" id="left-sidebar-open">
                <span class="fas fa-bars fa-fw"></span>
            </a>
            <a class="navbar-item" href="{% url 'home' %}">
                <img src="{% static 'images/conf/withthai_logo_en.png' %}"
                     width="168" height="30" alt="with thai logo">
            </a>
            <a class="navbar-item is-hidden-tablet" id="right-sidebar-open">
                <span class="fas fa-user-cog fa-fw"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="button is-danger is-small">
                            <span class="icon"><i class="fas fa-sign-out-alt fa-fw"></i></span>
                            <span class="is-uppercase">{% trans 'Sign out' %}</span>
                        </a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="button is-primary is-small">
                            <span class="icon"><i class="fas fa-sign-in-alt fa-fw"></i></span>
                            <span class="is-uppercase">{% trans 'Sign in' %}</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal" id="left-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content left-sidebar-content">
        <ul>
            {% include './_left_sidebar_empty.html' with left_sidebar_close_button=True %}
        </ul>
    </div>
</div>
<div class="modal" id="right-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content right-sidebar-content">
        <ul>
            {% include './_right_sidebar_my_account.html' with right_sidebar_close_button=True %}
        </ul>
    </div>
</div>
{% endblock %}
