{% extends './base.html' %}

{% load static i18n %}

{% block stylesheet %}
{{ block.super }}
<link href="{% static 'css/conf/base.css' %}" rel="stylesheet">
<link href="{% static 'css/console/page.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
<nav class="navbar is-fixed-top" id="navbar-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-hidden-tablet" id="left-sidebar-open">
                <span class="fas fa-bars fa-fw"></span>
            </a>
            <a class="navbar-item" href="" style="">
                <img alt="with thai logo"
                     height="30" src="{% static 'images/conf/withthai_logo_en.png' %}" width="168">
            </a>
            <a class="navbar-item is-hidden-tablet" id="right-sidebar-open">
                <span class="fas fa-user-cog fa-fw"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                        <a class="button is-danger is-small" href="{% url 'account_logout' %}">
                            <span class="icon"><i class="fas fa-sign-out-alt fa-fw"></i></span>
                            <span class="is-uppercase">{% trans 'Sign out' %}</span>
                        </a>
                        {% else %}
                        <a class="button is-primary is-small" href="{% url 'account_login' %}">
                            <span class="icon"><i class="fas fa-sign-in-alt fa-fw"></i></span>
                            <span class="is-uppercase">{% trans 'Sign in' %}</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal" id="left-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content left-sidebar-content">
        <ul>
            <li class="submenu-heading">
                {% trans 'Booking' %}
                <a class="is-pulled-right" id="left-sidebar-close">
                    <i class="fas fa-times"></i>
                </a>
            </li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a class="is-capitalized">
                            {% trans 'All booking list' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            <span class="tag status-open">{% trans 'Open' %}</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            <span class="tag status-accepted">{% trans 'Accepted' %}</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            <span class="tag status-unpaid is-capitalized">{% trans 'Not paid' %}</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            <span class="tag status-refund-requests is-capitalized">{% trans 'Refund requests' %}</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            {% trans 'Today' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            {% trans 'Tomorrow' %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu-heading">{% trans 'Customers' %}</li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a class="is-capitalized">
                            {% trans 'LINE users' %}
                        </a>
                    <li class="is-hidden">
                        <a class="is-capitalized" href="#">
                            {% trans 'Facebook users' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Customer groups' %}</a>
                    </li>
                </ul>
            </li>
            <li class="submenu-heading">{% trans 'Marketing' %}</li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a>{% trans 'Promotions' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a>{% trans 'Coupons' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a class="is-capitalized">{% trans 'Hot deals' %}</a>
                    </li>
                </ul>
            </li>
            <li class="submenu-heading">{% trans 'Report' %}</li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a class="is-capitalized">{% trans 'Daily sales' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a class="is-capitalized">{% trans 'Monthly sales' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a class="is-capitalized">{% trans 'Best promotions' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a class="is-capitalized"> {% trans 'Best customers' %} </a>
                    </li>
                    <li class="submenu-item">
                        <a class="is-capitalized">{% trans 'Sales by customer groups' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a class="is-capitalized">{% trans 'Sales by payment' %}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal" id="right-sidebar">
    <div class="modal-background"></div>
    <div class="modal-content right-sidebar-content">
        <ul>
            <li class="submenu-heading">
                {% trans 'Settings' %}
                <a class="is-pulled-right" id="right-sidebar-close">
                    <i class="fas fa-times"></i>
                </a>
            </li>
            <li>
                <ul>
                    <li class="submenu-item">
                        <a class="is-capitalized">
                            {% trans 'Golf club' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a class="is-capitalized">
                            {% trans 'Green fee' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            {% trans 'Holidays' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            {% trans 'Seasons' %}
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a>
                            {% trans 'Timeslots' %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu-heading is-capitalized">{% trans 'My account' %}</li>
            <li>
                <ul>
                    {% if user.is_authenticated %}
                    <li class="submenu-item">
                        <a class="is-capitalized">{% trans 'My profile' %}</a>
                    </li>
                    <li class="submenu-item">
                        <a href="{% url 'account_logout' %}" class="is-capitalized">{% trans 'Sign out' %}</a>
                    </li>
                    {% else %}
                    <li class="submenu-item">
                        <a href="{% url 'account_login' %}" class="is-capitalized">{% trans 'Sign in' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<section class="hero service-banner">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-3 has-text-weight-bold is-uppercase">
                Services
            </h1>
            <h2 class="is-size-5">
                We transform your ideas into successful digital products, building it from scratch and supporting as
                long as you need at a competitive price.
            </h2>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-4-desktop">
                    <figure class="image is-4by3">
                        <img src="{% static 'images/conf/illustrations/grow-your-business.svg' %}"
                             alt="make business lucrative" class="has-background-white">
                    </figure>
                </div>
                <div class="column is-8-desktop section-paragraph">
                    <h1 class="is-size-3 has-text-weight-bold">MAKE THE BUSINESS LUCRATIVE WITH CUSTOM SOFTWARE</h1>
                    <ul class="mt-4">
                        <li class="is-size-4 my-2">Healthcare Software Development</li>
                        <li class="my-2">
                            <ul>
                                <li>The first contact you have with healthcare software defines how useful it can be for
                                    medical institutions and patients respectively. Authentication, preserving HIPAA
                                    compliance, protecting confidential information are some of the most important
                                    features. You can have all of this in your application with our team.
                                </li>
                            </ul>
                        </li>
                        <li class="is-size-4 my-2">Educational Software Development</li>
                        <li class="my-2">
                            <ul>
                                <li>We offer extensive toolkits for implementing gamification in
                                    learning, creating e-learning platforms with awesome custom content management
                                    systems, course models, etc
                                </li>
                            </ul>
                        </li>
                        <li class="is-size-4 my-2">Logistics Software Development</li>
                        <li class="my-2">
                            <ul>
                                <li>We utilize powerful statistical analysis techniques, it can apply artificial
                                    intelligence computer vision for collecting data on products, tracking information,
                                    and detecting problems with transportation
                                </li>
                            </ul>
                        </li>
                        <li class="is-size-4 my-2">Fintech Software Development</li>
                        <li class="my-2">
                            <ul>
                                <li>We facilitate the handling of large data issues as well as complex calculations
                                    and algorithms. Such tasks can be uncomplicated and be marked with high
                                    performance. We have been working on the solution for the Fintech solution and
                                    successfully implemented software with simultaneous data processing with no need for
                                    manual work, and with adjusted automatic calculations.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-4-desktop">
                    <figure class="image is-4by3">
                        <img src="{% static 'images/conf/illustrations/business-startup.svg' %}"
                             alt="rocket" class="has-background-white">
                    </figure>
                </div>
                <div class="column is-8-desktop section-paragraph">
                    <h1 class="is-size-3 is-uppercase has-text-weight-bold">Technologies</h1>
                    <ul>
                        <li class="is-size-4 is-capitalized my-2">Django &amp; Python</li>
                        <li class="is-size-4 is-capitalized my-2">Big data &amp; Data science</li>
                        <li class="is-size-4 is-capitalized my-2">Machine learning</li>
                        <li class="is-size-4 my-2">Blockchain</li>
                        <li class="is-size-4 my-2">Biometrics</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-12 has-text-centered">
                    <h1 class="is-size-3 products-title">We deliver
                        <br class="is-hidden-tablet">
                        complex software projects
                        <br class="is-hidden-tablet">
                        on-time and on-budget.</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/conf/illustrations/developer-doing-programming.svg' %}"
                                     alt="web development" class="has-background-white">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h2 class="is-size-4 is-capitalized products-detail-title">Website development</h2>
                                <span class="products-detail-content">Get Fast, secure and structured web with Django</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4 has-text-centered">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/conf/illustrations/business-analysis.svg' %}"
                                     alt="cms" class="has-background-white">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h2 class="is-size-4 products-detail-title">CMS</h2>
                                <span class="is-capitalized products-detail-content">Content management systems</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4 has-text-centered">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/conf/illustrations/people-giving-feedback.svg' %}"
                                     alt="crm" class="has-background-white">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h2 class="is-size-4 products-detail-title">CRM</h2>
                                <span class="is-capitalized products-detail-content">Customer relationship management systems</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4 has-text-centered">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/conf/illustrations/freelancers.svg' %}"
                                     alt="booking engines" class="has-background-white">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h2 class="is-size-4 is-capitalized products-detail-title">Booking engines</h2>
                                <span class="products-detail-content">Fast and secure booking engine development</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4 has-text-centered">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/conf/illustrations/easy-to-find.svg' %}"
                                     alt="document management" class="has-background-white">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h2 class="is-size-4 is-capitalized products-detail-title">Document management</h2>
                                <span class="products-detail-content">Docuemnt, project management, ERP systems</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4 has-text-centered">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/conf/illustrations/privacy-protection.svg' %}"
                                     alt="rest api" class="has-background-white">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h2 class="is-size-4 is-capitalized products-detail-title">Data REST API</h2>
                                <span class="products-detail-content">Build api faster and secure with Django</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}