/*

button {
    margin: 4px;
}

#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#profilePictureDiv {
    text-align: center;
}

#profileImageDiv {
    height: 100px;
    width: 100px;
}

#statusMessage {
    position: relative;
    top: 40px;
}

.buttonGroup {
    padding-top: 20px;
}
 */