/* mitr-regular - thai_latin */
@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    src: local('Mitr Regular'), local('Mitr-Regular'),
    url('../../fonts/conf/mitr-v5-thai_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../fonts/conf/mitr-v5-thai_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* mitr-500 - thai_latin */
@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 500;
    src: local('Mitr Medium'), local('Mitr-Medium'),
    url('../../fonts/conf/mitr-v5-thai_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../fonts/conf/mitr-v5-thai_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}