.back-to-list-button {
    font-size: .7rem;
    font-weight: bold;
    color: #04515e;
    background-color: #abfdca;
    margin: .1rem .15rem 0 0;
    padding: 0 .5rem;
    border: none;
}

.no-break-word {
    white-space: nowrap;
    word-break: keep-all;
}

.status-open {
    background-color: #69f0ae !important;
    color: #000 !important;
}

.status-accepted {
    background-color: #388e3c !important;
    color: #fff !important;
}

.status-offered {
    background-color: #43a047 !important;
    color: #fff !important;
}

.status-confirmed {
    background-color: #7cb342 !important;
    color: #fff !important;
}

.status-closed {
    background-color: #a5d6a7 !important;
    color: #fff !important;
}

.status-unpaid {
    background-color: #0288d1 !important;
    color: #fff !important;
}

.status-paid {
    background-color: #81d4fa !important;
    color: #fff !important;
}

.status-refund-requests {
    background-color: #e53935 !important;
    color: #fff !important;
}

.status-refunded {
    background-color: #ff8a80 !important;
    color: #fff !important;
}

.status-customer-0 {
    background-color: #263238 !important;
    color: #fff !important;
}

.status-customer-1 {
    background-color: #37474f !important;
    color: #fff !important;
}

.status-customer-2 {
    background-color: #455a64 !important;
    color: #fff !important;
}

.status-customer-3 {
    background-color: #546e7a !important;
    color: #fff !important;
}

.status-customer-4 {
    background-color: #607d8b !important;
    color: #fff !important;
}

.tag-weekday {
    background-color: #1e88e5 !important;
    color: #fff !important;
}

.tag-holiday {
    background-color: #ef5350 !important;
    color: #fff !important;
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Mobile */
@media (max-width: 1023px) {
    .status-tags {
        float: right;
        margin-bottom: 0 !important;
    }

    .status-tags .tag {
        margin-bottom: 0;
    }

    .action-field-centered {
        justify-content: center !important;
    }

    #offer-form .field {
        margin-bottom: 0;
    }
}
