/* Overall layout and bulma overriding */

/* Sticky footer */
body {
    display: flex;
    min-height: calc(100vh - 52px);
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

aside {
    padding: 2rem 1rem !important;
}

.menu-list li ul {
    margin: 0 .75em;
    padding-left: .15rem;
}

.page-pagination {
    border-top: 1px dashed #123542;
    padding-top: 1rem;
}

/* Desktop */
@media (min-width: 1024px) {
    main {
        padding: 1rem 0;
    }

    .pagination, .pagination-list {
        justify-content: center;
    }

    .page-pagination {
        margin: .25rem 0 1rem 0;
    }

    .search-section {
        margin: 0 0 1.2rem 0 !important;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
}

/* Mobile */
@media (max-width: 1023px) {
    .navbar-brand {
        justify-content: space-between; /* 3 div left center right for mobile */
    }

    .page-pagination {
        margin: .25rem 1rem 1rem 1rem;
    }

    .card-content {
        padding: .75rem 1rem;
    }

    .search-section {
        margin: 0 -.2rem 1.2rem -.2rem !important;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .mobile-list-item {
        margin: 0 -.2rem 1.2rem -.2rem !important;
        padding: .5rem;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .mobile-list-item .column {
        padding: .1rem .25rem;
    }

    .mobile-detail-item {
        margin: .2rem -.2rem !important;
        padding: .5rem;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
}