/* Overall layout and bulma overriding */

/* Sticky footer */
body {
    display: flex;
    min-height: calc(100vh - 52px);
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

aside {
    padding: 2rem 1rem !important;
}

.menu-list li ul {
    margin: 0 .75em;
    padding-left: .15rem;
}

.page-pagination {
    border-top: 1px dashed #123542;
    padding-top: 1rem;
}

/* Mobile Sidebar */
.left-sidebar {
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    min-height: 100vh;
    width: 60%;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
    background-color: #e4ebe3;
    overflow-y: scroll;
}

.right-sidebar {
    position: absolute;
    right: 0;
    top: 0;

    margin: 0;
    min-height: 100vh;
    width: 60%;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
    background-color: #e4ebe3;
    overflow-y: scroll;
}

#left-sidebar-close:link, #left-sidebar-close:visited, #right-sidebar-close:link, #right-sidebar-close:visited {
    color: #03353e;
}

/* Desktop */
@media (min-width: 1024px) {
    main {
        padding: 1rem 0;
    }

    .pagination, .pagination-list {
        justify-content: center;
    }

    .page-pagination {
        margin: .25rem 0 1rem 0;
    }

    .search-section {
        margin: 0 0 1.2rem 0 !important;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
}

/* Mobile */
@media (max-width: 1023px) {
    .navbar-brand {
        justify-content: space-between; /* 3 div left center right for mobile */
    }

    .page-pagination {
        margin: .25rem 1rem 1rem 1rem;
    }

    .card-content {
        padding: .75rem 1rem;
    }

    .search-section {
        margin: 0 -.2rem 1.2rem -.2rem !important;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .mobile-list-item {
        margin: 0 -.2rem 1.2rem -.2rem !important;
        padding: .5rem;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .mobile-list-item .column {
        padding: .1rem .25rem;
    }

    .mobile-detail-item {
        margin: .2rem -.2rem !important;
        padding: .5rem;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .mobile-detail-item .columns .column {
        padding-top: .3rem;
        padding-bottom: .3rem;
    }

    .submenu-heading {
        padding: .25rem .5rem;
        background-color: #ebf2ea;
        border-bottom: 1px solid #558b2f;
    }

    .submenu-heading, .submenu-heading a {
        color: #87b842;
        font-weight: bold;
    }

    .submenu-item {
        padding: .25rem 1rem;
        background: #ffffff;
    }

    .submenu-item:last-child {
        box-shadow: 0 10px 5px -2px rgba(0, 0, 0, 0.2);
    }

    .submenu-item a {
        color: #03353e;
    }
}