/* Common */
.no-break-word {
    white-space: nowrap;
    word-break: keep-all;
}


/* Desktop */
@media (min-width: 1024px) {
    .logo {
        margin-left: 1rem;

    }

    .order-list {
        padding: .1rem;
        border-bottom: 1px solid #000000;
    }
}

/* Mobile */
@media (max-width: 1023px) {
    .mobile-navbar-container {
        padding: 0 !important;
    }

    .section-mobile {
        padding: .1rem .5rem;
    }

    .section-mobile .container {
        padding: 0;
    }

    .order-list {
        margin: 1rem 0;
        padding: .5rem;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .order-list .column {
        padding: .03rem 0;
    }

    .pull-mobile-right-desktop-center {
        float: right;
    }
}
