/* Common */
body {
    font-family: Prompt, "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif
}

.no-break-word {
    white-space: nowrap;
    word-break: keep-all;
}

.card {
    box-shadow: none;
    padding-bottom: 1rem;
}

.card-header {
    box-shadow: none;
    background-color: #c1ffc8;
}

.navbar-top {
    background-color: #ebfcd8;
}

.menu {
    padding: .5rem 0 0 .5rem;
}

.menu-label {
    margin-bottom: .2rem !important;
}

.menu-list li ul {
    margin: 0 .75rem;
}

.pagination {
    margin: .5rem;
}

.status-open {
    background-color: #66ff80 !important;
    color: #000 !important;

}

.status-accepted {
    background-color: #06b200 !important;
    color: #fff !important;
}

.status-offered {
    background-color: #06b200 !important;
    color: #fff !important;
}

.status-confirmed {
    background-color: #009420 !important;
    color: #fff !important;
}

.status-closed {
    background-color: #e89f71 !important;
    color: #fff !important;
}

.status-unpaid {
    background-color: #3282b8 !important;
    color: #fff !important;
}

.status-paid {
    background-color: #69cbd6 !important;
    color: #fff !important;
}

.status-refund-requests {
    background-color: #cd0a0a !important;
    color: #fff !important;
}

.status-refunded {
    background-color: #eb8f8f !important;
    color: #fff !important;
}

.status-customer-0 {
    background-color: #8900ff !important;
    color: #fff !important;
}

.status-customer-1 {
    background-color: #943cdf !important;
    color: #fff !important;
}

.status-customer-2 {
    background-color: #b000ff !important;
    color: #fff !important;
}

.status-customer-3 {
    background-color: #b93dff !important;
    color: #fff !important;
}

.status-customer-4 {
    background-color: #cc7aea !important;
    color: #fff !important;
}

/* Desktop */
@media (min-width: 1024px) {
    .logo {
        margin-left: 1rem;
    }

    .menu {
        padding: 1.5rem 0 0 1.5rem;
    }

    .section {
        padding: 0 1rem;
    }

    .section:first-child {
        padding-top: 1.5rem;
    }

    .card {
        padding-bottom: .5rem;
    }

    .card-content {
        padding: .5rem 0;
    }

    .search-section {
        margin: 0 0 1.5rem 0 !important;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .page-list {
        border-bottom: 1px solid #000000;
        margin: 0 .1rem .5rem .1rem !important
    }

    .page-list .column {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

/* Mobile */
@media (max-width: 1023px) {
    /* Bulma */
    .card-content {
        padding: .5rem;
    }

    .mobile-navbar-container {
        padding: 0 !important;
    }

    .burger-icon {
        font-size: 2rem;
        margin: .5rem;
    }

    .section {
        padding: 0;
    }

    .card {
        padding-bottom: 0;
    }

    .card-content {
        padding: 0 .5rem;
        margin-bottom: 1.5rem;
    }

    .search-section {
        margin: 1rem 0 1.2rem 0 !important;
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .page-list {
        margin: 1rem 0;
        padding: .5rem;

        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .page-list .column {
        padding: .03rem 0;
    }

    .status-tags {
        float: right;
        margin-bottom: 0 !important;
    }

    .status-tags .tag {
        margin-bottom: 0;
    }

    .page-detail {
        margin: 1rem 0;
        padding: .5rem;

        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .page-detail .columns {
        padding: .75rem .25rem;
    }

    .page-detail .columns .column {
        padding: 0 .5rem;
    }

    .action-field-centered {
        justify-content: center !important;
    }

    #offer-form .field {
        margin-bottom: 0;
    }
}
