/* Common */
body {
    font-family: Prompt, "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif
}

.no-break-word {
    white-space: nowrap;
    word-break: keep-all;
}

.card {
    box-shadow: none;
    padding-bottom: 2rem;
}

.card-header {
    box-shadow: none;
    background-color: #c1ffc8;
}

.navbar-top {
    background-color: #ebfcd8;
}

/* Desktop */
@media (min-width: 1024px) {
    .logo {
        margin-left: 1rem;
    }

    .menu {
        padding: 1.5rem 0 0 1.5rem;
    }

    .section {
        padding: 2.5rem 1rem;
    }

    .order-list {
        border-bottom: 1px solid #000000;
    }

    .order-list .column {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

/* Mobile */
@media (max-width: 1023px) {
    /* Bulma */
    .card-content {
        padding: .5rem;
    }

    .menu {
        padding: .5rem 0 0 .5rem;
    }

    .menu-label {
        margin-bottom: .2rem !important;
    }

    .menu-list li ul {
        margin: 0 .75rem;
    }

    .mobile-navbar-container {
        padding: 0 !important;
    }

    .burger-icon {
        font-size: 2rem;
        margin: .5rem;
    }

    .section {
        padding: 0;
    }

    .card-content {
        padding: 0 .5rem;
    }

    .order-list {
        margin: 1rem 0;
        padding: .5rem;

        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .order-list .column {
        padding: .03rem 0;
    }

    .status-tags {
        float: right;
        margin-bottom: 0 !important;
    }

    .status-tags .tag {
        margin-bottom: 0;
    }

    .order-detail {
        margin-top: 1rem;

        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .order-detail .columns {
        padding: .4rem;
    }

    .order-detail .columns .column {
        padding: 0 .5rem;
    }
}
