<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First LIFF</title>
</head>
<body>
<button id="closewindowbutton">LIFF 앱 닫기</button>
<button id="openwindowbutton">윈도우를 LINE에서 열기</button>
<button id="openwindowexternalbutton">창을 외부 브라우저에서 열기</button>
<button id="sendmessagebutton">메시지 보내기</button>
<div id="profileinfo">
    <h2>Profile</h2>
    <div id="profilepicturediv">
    </div>
    <table>
        <tr>
            <th>userId</th>
            <td id="userIdProfileField"></td>
        </tr>
        <tr>
            <th>displayName</th>
            <td id="displayNameField"></td>
        </tr>
        <tr>
            <th>statusMessage</th>
            <td id="statusMessageField"></td>
        </tr>
    </table>
</div>

<div id="liffdata">
    <h2>LIFF Data</h2>
    <table>
        <tr>
            <th>browserLanguage</th>
            <td id="browserLanguage"></td>
        </tr>
        <tr>
            <th>sdkVersion</th>
            <td id="sdkVersion"></td>
        </tr>
        <tr>
            <th>lineVersion</th>
            <td id="lineVersion"></td>
        </tr>
        <tr>
            <th>isInClient</th>
            <td id="isInClient"></td>
        </tr>
        <tr>
            <th>isLoggedIn</th>
            <td id="isLoggedIn"></td>
        </tr>
        <tr>
            <th>deviceOS</th>
            <td id="deviceOS"></td>
        </tr>
    </table>
</div>
<script src="//static.line-scdn.net/liff/edge/2/sdk.js" charset="utf-8"></script>
<script src="{% static 'js/chatbot/liff/liff.js' %}"></script>
</body>
</html>