/* Common */
.button-close {
    color: #ffffff;
    background-color: #ff6666;
    border-color: transparent;
}

/* Scorecard */
.blue, .blue strong, .blue .fixed-col {
    color: #ffffff;
    background-color: #3333ff;
}

.white, .white strong, .white .fixed-col {
    color: #000000;
    background-color: #ffffff;
}

.brown, .brown strong, .brown .fixed-col {
    color: #ffffff;
    background-color: #c68c53;
}

.orange, .orange strong, .orange .fixed-col {
    color: #ffffff;
    background-color: #ff8533;
}

.red, .red strong, .red .fixed-col {
    color: #ffffff;
    background-color: #ff3333;
}

.yellow, .yellow strong, .yellow .fixed-col {
    color: #000000;
    background-color: #ffff33;
}

.wrapper {
    overflow: scroll;
    position: relative;
}

.table-relative {
    position: relative;
    font-size: .8rem;
}

.fixed-col {
    position: sticky;
    left: 0;
    top: 0;
}

.no-break-word {
    white-space: nowrap;
    word-break: keep-all;
}

/* Price Table */
.week0 {
    color: #0000cc;
    font-weight: bold;
}

.week1 {
    color: #ff471a;
    font-weight: bold;
}

.day, .day .fixed-col {
    color: #001a00;
    background-color: #c8ffbc;
}

.twilight, .twilight .fixed-col {
    color: #993d00;
    background-color: #fbffbc;
}

.night, .night .fixed-col {
    color: #000000;
    background-color: #ccfeff;
}