/* Common */
.button-save {
    color: #ffffff;
    background-color: #5ab381;
    border-color: transparent;
}

.button-close {
    color: #ffffff;
    background-color: #ff6666;
    border-color: transparent;
}

/* Scorecard */
.blue, .blue strong, .blue .fixed-col {
    color: #ffffff;
    background-color: #3333ff;
}

.white, .white strong, .white .fixed-col {
    color: #000000;
    background-color: #ffffff;
}

.brown, .brown strong, .brown .fixed-col {
    color: #ffffff;
    background-color: #c68c53;
}

.orange, .orange strong, .orange .fixed-col {
    color: #ffffff;
    background-color: #ff8533;
}

.red, .red strong, .red .fixed-col {
    color: #ffffff;
    background-color: #ff3333;
}

.yellow, .yellow strong, .yellow .fixed-col {
    color: #000000;
    background-color: #ffff33;
}

.wrapper {
    overflow: scroll;
    position: relative;
}

.table-relative {
    position: relative;
    font-size: .8rem;
}

.fixed-col {
    position: sticky;
    left: 0;
    top: 0;
}

.no-break-word {
    white-space: nowrap;
    word-break: keep-all;
}

/* Price Table */
.week0 {
    color: #0000cc;
    font-weight: bold;
}

.week1 {
    color: #ff471a;
    font-weight: bold;
}

.day, .day .fixed-col {
    color: #000000;
    background-color: #c8ffbc;
    font-weight: bold;
}

.twilight, .twilight .fixed-col {
    color: #000000;
    background-color: #fbffbc;
    font-weight: bold;
}

.night, .night .fixed-col {
    color: #000000;
    background-color: #ccfeff;
    font-weight: bold;
}

/* Quotation Table */
.quotation-table {
    font-size: .9rem;
}

.total-amount {
    font-size: 1rem;
}

.quotation-card {
    box-shadow: none;
    margin-bottom: 1.4rem;
}

.quotation-card-header {
    box-shadow: none;
    background-color: #feffd5;
}

.quotation-card-header .card-header-title {
    font-size: 1.2rem;
    padding: .5rem .5rem;
}

.quotation-card .card-content {
    margin-top: .6rem;
    padding: .1rem .5rem;
}

.quotation-card footer {
    margin-top: 1rem;
}

.select-has-text-centered {
    text-align-last: center;
}