/* Scorecard */
.blue, .blue strong {
    color: #ffffff;
    background-color: #3333ff;
}

.brown, .brown strong {
    color: #ffffff;
    background-color: #c68c53;
}

.orange, .orange strong {
    color: #ffffff;
    background-color: #ff8533;
}

.red, .red strong {
    color: #ffffff;
    background-color: #ff3333;
}

.yellow, .yellow strong {
    color: #000000;
    background-color: #ffff33;
}
